.hero {
    /* position: ; */
    top: 0;
	background: linear-gradient(-45deg, rgba(23, 101, 238, 0.43), #FFDBDE, #1FDDFF, #FF85AD, #FFB58A, rgba(107, 102, 255, 0.57), #19DFDF);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	/* height: 100%; */
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}