.transferMoneyBtn {
  border-radius: 4.763px;
  background: #fff;
  box-shadow: 0px 0px 3.969465970993042px 0px rgba(0, 0, 0, 0.25);
}

.boxes {
  border-radius: 3.328px;
  border: 0.555px solid var(--stroke-fade, rgba(0, 0, 0, 0.3));
  background: #fff3e5;
  grid-column: 0;
}

.detailsBox {
  display: grid;
  /* flex-direction: column; */
  gap: 10px;
}

.transferMoneyPop {
  position: absolute;
  height: 505px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
}

.transferConfirmation {
  position: absolute;
  bottom: 0%;
  height: 470px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
}

.inputPin {
  position: absolute;
  bottom: 0%;
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
}

.deletePopUp{
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
}

.deleteSuccess{
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.successful {
  position: absolute;
  bottom: 0%;
  height: 470px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 5.952381610870361px 0px rgba(0, 0, 0, 0.25);
}

.receipt {
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 5.952381610870361px 0px rgba(0, 0, 0, 0.25);
}

/* =====================Tablet View ====================== */
@media (min-width: 820px) and (max-width: 1180px){
  .detailsBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .transferMoneyPop {
    height: 620px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
  }

  .transferConfirmation {
    height: 572px;
    bottom: 25%;
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
  }

  .inputPin {
    bottom: 30%;
    width: 481.25px;
    height: 350px;
  }

  .successful {
    bottom: 30%;
    width: 80%;
    height: 590px;
  }

  .deletePopUp{
    height: 400px;
  }

  .deleteSuccess{
    height: 400px;
  }

  .boxes {
    background: #fff3e5;
    border-radius: 3.328px;
    border: 0.555px solid var(--stroke-fade, rgba(0, 0, 0, 0.3));
  }
}

/* ==================Laptop View ============================ */
@media (min-width: 1024px) {
  .accountRecords {
    height: 100%;
  }

  .transferMoneyBtn {
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .detailsBox {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .boxes {
    background: #fff3e5;
    border-radius: 6.328px;
    border: 1.555px solid var(--stroke-fade, rgba(0, 0, 0, 0.3));
  }

  .transferMoneyPop {
    height: 550px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
  }

  .successful {
    position: absolute;
    bottom: 2%;
    border-radius: 15px;
    height: 620px;
    box-shadow: 0px 0px 16.952381610870361px 0px rgba(0, 0, 0, 0.25);
  }

  .transferConfirmation {
    position: absolute;
    top: 7%;
    height: 550px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 7.068181991577148px 0px rgba(0, 0, 0, 0.25);
  }

  .inputPin {
    height: 405px;
    position: absolute;
    top: 18%;
    border-radius: 20px;
  }

  .deletePopUp{
    border-radius: 20px;
    height: 465px;
  }

  .deleteSuccess{
    border-radius: 20px;
    height: 465px;
  }

  .receipt{
    border-radius: 20px;
  }
}
