* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First section */

.airtimeTop {
    margin: 0 auto;
}
.airtimeTop .banner {
    width: 95%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    gap: 300px;
    background: linear-gradient(92.3deg, #6EDCFF 31.38%, rgba(65, 107, 255, 0.79) 98.66%);
    border-radius: 20px;
    position: relative;
    height: 240px;
}
.globalAir h3 {
    font-size: 26px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    margin-bottom: 3%;
    color: #000000;
}
.globalAir p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 3%;
}
.banner .young {
    margin-top: -1%;
}
.young img {
    width: 220px;
    height: 200px;
}
.airType {
    display: flex;
    padding-top: 5%;
    margin: auto;
    width: 95%;
    gap: 20px;
    cursor: pointer;
}
.airType h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #7C7C7C;
}
.localInter {
    width: 95%;
    margin: 0 auto;
    padding-top: 5%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
    border-bottom-width: 2px;
}
.localInter li {
    cursor: pointer;
}
.active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(0deg, #E2F3FF, #E2F3FF), linear-gradient(0deg, #04177F, #04177F);
    padding: 12px 60px;
    position: relative;
}
.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #04177F;
}
.inactive {
    padding: 12px 50px;
}
.NotInter {
    margin: 0 auto;
    padding: 10px 40px;
}
.NotInter .timeAble {
    text-align: center; 
    margin-bottom: 13%;
}  
.timeAble h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
    margin-bottom: 2%;
}
.timeAble h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    color: #04177F;
}
.NotInter .InterAirtime {
    margin: 0 auto;
    padding-bottom: 13%;
}
.InterAirtime img {
    width: 260px;
    height: 160px;
    margin: 0 auto;
}
.NotInter .coming {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.coming h2 {
    position: relative;
    left: 200px;
    top: 15px;
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000000;
}
.coming .btnOk {
    border-radius: 10px;
    width: 93px;
    padding: 5px 25px;
    background: #04177F;
    color: #fff;
    font-size: 18px;
}

/* For each Tab that's not ready */

.NotInterX {
    margin: 0 auto;
    padding: 10px 40px;
}
.NotInterX .timeAbleX {
    text-align: center; 
    margin-bottom: 13%;
}  
.timeAbleX h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
    margin-bottom: 2%;
}
.timeAbleX h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    color: #04177F;
}
.NotInterX .InterAirtimeX {
    margin: 0 auto;
    padding-bottom: 10%;
}
.InterAirtimeX img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.NotInterX .comingX {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.comingX h2 {
    position: relative;
    left: 200px;
    top: 15px;
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000000;
}
.comingX .btnOkX {
    border-radius: 10px;
    width: 93px;
    padding: 5px 25px;
    background: #04177F;
    color: #fff;
    font-size: 18px;
}

/* This is the Local Airtime section */

.containAir {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
    margin: 0 auto;
}

/* Styling for TabOneItem */

.airtimeCol {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 12px;
    padding: 25px;
    transition: .3s;
}
.airtimeCol:hover {
    box-shadow: 0px 0px 4px 0px #00000040;
}
.airtimeCol .airCol {
    display: flex;
    gap: 10px;
}
.airtimeCol .airImg {
    position: relative;
    right: 50px;
}
.airCol .airCon {
    position: relative;
    margin: auto 0;
}
.airText {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 5px;
}
.airText h2 {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
}
.airText p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

/* Contact aspect of the airtime page */

.help {
    margin: auto;
    width: 20%;
    padding-top: 10%;
    display: flex;
    gap: 15px;
}
.help h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}
.help .btnContact {
    background: #04177F;
    padding: 5px 15px 10px 15px;
    height: 20px;
    border-radius: 9px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    position: relative;
    bottom: 3px;
}